.page {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - var(--header-height) - var(--footer-height) - var(--content-margin));

  > div {
    margin-top: 20px;

    &.picture {
      width: 100%;
      height: 520px;
      background: url(./img/error.png) center center no-repeat;
      background-size: contain;
    }

    &.text {
      :global(.ant-typography) {
        &.p {
          text-align: center;
          font-size: 32px;
          font-weight: 700;
        }
      }
    }
  }
}