
.header {
  padding: 1rem;
  background-color: #cfeade;
  box-shadow: 10px 5px 5px red;
  border-bottom: 1px solid #000;
  height: 80px;
  &-left {
    &__logo {
      padding-left: 45px;
      display: block;
      font-size: 1.8rem;
      color: #47b237;
      font-weight: bold;
      background: url("src/assets/icons/react.svg") no-repeat left center;
      font-style: normal;
    }
  }
}